<footer id="footer">
  <div class="footer-container container">
    <div class="footer-title-container">
      <h2 class="footer-title"><span class="footer-title-color body">Lloyd</span>Jefferson.</h2>
  
      <ul class="footer-media-list">
        <li class="footer-media-item body"><a class="footer-media-link" href="instagram.com">Instagram</a></li>
        <li class="footer-media-item body"><a class="footer-media-link" href="facebook.com">Facebook</a></li>
        <li class="footer-media-item body"><a class="footer-media-link" href="linkedin.com">Linkedin</a></li>
        <li class="footer-media-item body"><a class="footer-media-link" href="github.com">GitHub</a></li>
      </ul>
    </div>

    <p class="footer-paragraph"><span>© Copyright 2024.</span>
       Made by LloydJefferson</p>
  </div>
</footer>
