<footer class="border-top" id="footer">
  <div class="footer-container container">
    <div
      class="footer-title-container"
      data-aos="fade-down"
      data-aos-duration="1500"
    >
      <a class="footer-title" href=""
        >Lloyd<span class="footer-title-color">Jefferson.</span></a
      >

      <ul
        class="footer-media-list"
        data-aos="fade-down"
        data-aos-duration="1500"
      >
        <li class="footer-media-item">
          <a
            class="footer-media-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li class="footer-media-item">
          <a
            class="footer-media-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li class="footer-media-item">
          <a
            class="footer-media-link"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li class="footer-media-item">
          <a
            class="footer-media-link"
            href="https://github.com/GhostKato/project-group-3-js"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>

    <p class="footer-paragraph" data-aos="fade-down" data-aos-duration="1500">
      <span>© Copyright 2024.</span> Made by LloydJefferson
    </p>
  </div>
</footer>
