<div class="menu-backdrop" data-menu>
  <div class="menu-container">
    <div class="is open" data-menu>
      <div class="head-menu">
        <button type="button" class="menu-close-btn" data-menu-close>
          <svg class="menu-close-icon" aria-label="menu-close">
            <use href="./img/icons.svg#icon-x"></use>
          </svg>
        </button>
        <h2 class="modal-title">
          Lloyd<span class="modal-title-green">Jefferson.</span>
        </h2>
      </div>
      <div class="div-nav-menu">
        <nav class="menu-nav">
          <ul class="menu-nav-list">
            <li class="menu-nav-item">
              <a class="menu-nav-link scroll-to" href="#about-me">About me</a>
            </li>
            <li class="menu-nav-item">
              <a class="menu-nav-link scroll-to" href="#projects">Projects</a>
            </li>
            <li class="menu-nav-item">
              <a class="menu-nav-link scroll-to" href="#work-together"
                >Contacts</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
