<div class="mobile-wraper" data-menu>
  <div class="mobile-container">
    <div class="mobile-padding">
      <div class="mobile-header">
        <a class="mobile-title" href="#"
          >Lloyd<span class="mobile-title-color">Jefferson.</span></a
        >

        <button class="mobile-modal-close" data-menu-close>
          <svg class="mobile-modal-svg" width="24" height="24">
            <use href="./img/icons.svg#icon-x"></use>
          </svg>
        </button>
      </div>
      <div class="mobile-main">
        <nav>
          <ul class="mobile-menu">
            <li class="mobile-menu-list">
              <a class="mobile-link scroll-to" href="#about-me">About me</a>
            </li>
            <li class="mobile-menu-list">
              <a class="mobile-link scroll-to" href="#projects">Projects</a>
            </li>
            <li class="mobile-menu-list">
              <a class="mobile-link scroll-to" href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>
        <a class="mobile-main-btn scroll-to" href="#work-together"
          >Order the project</a
        >
      </div>
    </div>

    <ul class="mobile-social">
      <li class="mobile-social-list">
        <a
          class="mobile-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li class="mobile-social-list">
        <a
          class="mobile-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          >Telegram</a
        >
      </li>
      <li class="mobile-social-list">
        <a
          class="mobile-link"
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          target="_blank"
          >Linkedin</a
        >
      </li>
      <li class="mobile-social-list">
        <a
          class="mobile-link"
          href="https://github.com/GhostKato/project-group-3-js"
          target="_blank"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</div>
