<section id="hero">
  <div
    class="hero-position container"
    data-aos="fade-down"
    data-aos-duration="1000"
  >
    <h1 class="hero-title" data-aos="fade-up">
      <span class="hero-title-color">Hello, I am</span> Fullstack developer
    </h1>

    <picture
      class="hero-picture"
      data-aos="flip-right"
      data-aos-duration="1000"
    >
      <source
        media="(max-width: 767px )"
        type="image/png"
        srcset="
          ./img/2-hero/hero-people-mobile-1x.png 1x,
          ./img/2-hero/hero-people-mobile-2x.png 2x
        "
      />
      <source
        media="(min-width: 768px )"
        type="image/png"
        srcset="
          ./img/2-hero/hero-people-tablet-1x.png 1x,
          ./img/2-hero/hero-people-tablet-2x.png 2x
        "
      />
      <source
        media="(min-width: 1280px )"
        type="image/png"
        srcset="
          ./img/2-hero/hero-people-desktop-1x.png 1x,
          ./img/2-hero/hero-people-desktop-2x.png 2x
        "
      />
      <img
        src="./img/2-hero/hero-people-desktop-2x.png"
        class="picture"
        alt="Human"
        loading="lazy"
        width="282"
      />
    </picture>
  </div>

  <div class="hero-second-container" data-aos="fade-up">
    <div class="hero-container container">
      <h2 class="hero-title-small" data-aos="fade-up">
        I work with people all over the world to create
        <span class="hero-paragraph-color">impressive</span> and
        <span class="hero-paragraph-color">functional websites</span> that
        reflect each client`s unique personality.
      </h2>

      <ul class="hero-media-list" data-aos="fade-up">
        <li class="hero-media-item">
          <a
            class="hero-media-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >Instagram</a
          >
        </li>
        <li class="hero-media-item">
          <a
            class="hero-media-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >Facebook</a
          >
        </li>
        <li class="hero-media-item">
          <a
            class="hero-media-link"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >Linkedin</a
          >
        </li>
        <li class="hero-media-item">
          <a
            class="hero-media-link"
            href="https://github.com/GhostKato/project-group-3-js"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
