<section class="section ribbon ribbon-dark">
  <div class="tech-skills">
    <div class="div-skills-list div-tech-dark">
      <ul class="ul-tech-skills">
        <li class="li-tech-skills tech-dark">HTML/CSS</li>
        <li class="li-tech-skills tech-dark">JavaScript</li>
        <li class="li-tech-skills tech-dark">React</li>
        <li class="li-tech-skills tech-dark">Node. js</li>
        <li class="li-tech-skills tech-dark">React Native</li>
        <li class="li-tech-skills tech-dark">Typescript</li>
      </ul>
      <ul class="ul-tech-skills mg-left-20">
        <li class="li-tech-skills tech-dark">HTML/CSS</li>
        <li class="li-tech-skills tech-dark">JavaScript</li>
        <li class="li-tech-skills tech-dark">React</li>
        <li class="li-tech-skills tech-dark">Node. js</li>
        <li class="li-tech-skills tech-dark">React Native</li>
        <li class="li-tech-skills tech-dark">Typescript</li>
      </ul>
      <ul class="ul-tech-skills mg-left-20">
        <li class="li-tech-skills tech-dark">HTML/CSS</li>
        <li class="li-tech-skills tech-dark">JavaScript</li>
        <li class="li-tech-skills tech-dark">React</li>
        <li class="li-tech-skills tech-dark">Node. js</li>
        <li class="li-tech-skills tech-dark">React Native</li>
        <li class="li-tech-skills tech-dark">Typescript</li>
      </ul>
    </div>
    <div class="div-skills-list-two div-tech-dark-two">
      <ul class="ul-tech-skills-two">
        <li class="li-tech-skills-two tech-dark-two">HTML/CSS</li>
        <li class="li-tech-skills-two tech-dark-two">JavaScript</li>
        <li class="li-tech-skills-two tech-dark-two">React</li>
        <li class="li-tech-skills-two tech-dark-two">Node. js</li>
        <li class="li-tech-skills-two tech-dark-two">React Native</li>
        <li class="li-tech-skills-two tech-dark-two">Typescript</li>
      </ul>
      <ul class="ul-tech-skills-two mg-left-20">
        <li class="li-tech-skills-two tech-dark-two">HTML/CSS</li>
        <li class="li-tech-skills-two tech-dark-two">JavaScript</li>
        <li class="li-tech-skills-two tech-dark-two">React</li>
        <li class="li-tech-skills-two tech-dark-two">Node. js</li>
        <li class="li-tech-skills-two tech-dark-two">React Native</li>
        <li class="li-tech-skills-two tech-dark-two">Typescript</li>
      </ul>
      <ul class="ul-tech-skills-two mg-left-20">
        <li class="li-tech-skills-two tech-dark-two">HTML/CSS</li>
        <li class="li-tech-skills-two tech-dark-two">JavaScript</li>
        <li class="li-tech-skills-two tech-dark-two">React</li>
        <li class="li-tech-skills-two tech-dark-two">Node. js</li>
        <li class="li-tech-skills-two tech-dark-two">React Native</li>
        <li class="li-tech-skills-two tech-dark-two">Typescript</li>
      </ul>
    </div>
  </div>
</section>
