<section class="faq-section section">
  <div class="faq-container container">
    <h2 class="faq-title">
      Frequently Asked <span class="faq-title coloured">Questions</span>
    </h2>
    <ul class="frequently-asked-questions accordion-container">
      <li class="question active ac">
        <div class="question-button-container ac-trigger">
          <h3 class="question-title ac-header">
            What programming languages are most often used in your project?
          </h3>
          <div class="faq-item-open">
            <svg class="arrow-icon" width="32" height="32">
              <use href="../img/icons.svg#icon-arrow-up"></use>
            </svg>
          </div>
        </div>
        <div class="faq-item-wrapper ac-panel">
          <p class="question-answer ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="question ac">
        <div class="question-button-container ac-trigger">
          <h3 class="question-title ac-header">
            What programming languages are most often used in your project?
          </h3>
          <div class="faq-item-open">
            <svg class="arrow-icon" width="32" height="32">
              <use href="../img/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
        </div>
        <div class="faq-item-wrapper ac-panel visually-hidden">
          <p class="question-answer ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="question ac">
        <div class="question-button-container ac-trigger">
          <h3 class="question-title ac-header">
            What programming languages are most often used in your project?
          </h3>
          <div class="faq-item-open">
            <svg class="arrow-icon" width="32" height="32">
              <use href="../img/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
        </div>
        <div class="faq-item-wrapper ac-panel visually-hidden">
          <p class="question-answer ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="question ac">
        <div class="question-button-container ac-trigger">
          <h3 class="question-title ac-header">
            What programming languages are most often used in your project?
          </h3>
          <div class="faq-item-open">
            <svg class="arrow-icon" width="32" height="32">
              <use href="../img/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
        </div>
        <div class="faq-item-wrapper ac-panel visually-hidden">
          <p class="question-answer ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="question ac">
        <div class="question-button-container ac-trigger">
          <h3 class="question-title ac-header">
            What programming languages are most often used in your project?
          </h3>
          <div class="faq-item-open">
            <svg class="arrow-icon" width="32" height="32">
              <use href="../img/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
        </div>
        <div class="faq-item-wrapper ac-panel visually-hidden">
          <p class="question-answer ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="question ac">
        <div class="question-button-container ac-trigger">
          <h3 class="question-title ac-header">
            What programming languages are most often used in your project?
          </h3>
          <div class="faq-item-open">
            <svg class="arrow-icon" width="32" height="32">
              <use href="../img/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
        </div>
        <div class="faq-item-wrapper ac-panel visually-hidden">
          <p class="question-answer ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
