<section class="section">
  <div class="faq-container container">
    <h2 class="faq-title">Frequently Asked Question</h2>
    <ul class="frequently-asked-questions">
      <li class="question active">
        <h3 class="question-title">
          What programming languages are most often used in your project?
        </h3>
        <p class="question-answer">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
        <svg class="arrow-icon" width="24" height="24">
          <use href="path-to-icon.com"></use>
        </svg>
      </li>
      <li class="question">
        <h3 class="question-title">What are the deadlines for the project?</h3>
        <p class="question-answer">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
        <svg class="arrow-icon" width="24" height="24">
          <use href="path-to-icon.com"></use>
        </svg>
      </li>
      <li class="question">
        <h3 class="question-title">What payment methods do you accept?</h3>
        <p class="question-answer">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
      <li class="question">
        <h3 class="question-title">How can I contact you?</h3>
        <p class="question-answer">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
        <svg class="arrow-icon" width="24" height="24">
          <use href="path-to-icon.com"></use>
        </svg>
      </li>
      <li class="question">
        <h3 class="question-title">Do you provide advice or support?</h3>
        <p class="question-answer">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
        <svg class="arrow-icon" width="24" height="24">
          <use href="path-to-icon.com"></use>
        </svg>
      </li>
      <li class="question">
        <h3 class="question-title">
          What does the process of developing a software product look like from
          idea to implementation?
        </h3>
        <p class="question-answer">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
        <svg class="arrow-icon" width="24" height="24">
          <use href="path-to-icon.com"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
