<section class="faq-section section">
  <div class="faq-container container">
    <h2 class="section-title">
      Frequently Asked <span class="section-title coloured">Questions</span>
    </h2>
    <ul class="accordion-container">
      <li class="accordion-item active">
        <div class="accordion-header">
          <h3 class="header">
            What programming languages are most often used in your project?
          </h3>
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </div>
        <div class="accordion-content">
          <p>
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <div class="accordion-header">
          <h3 class="header">What are the deadlines for the project?</h3>
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </div>
        <div class="accordion-content accordion-hover">
          <p>
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <div class="accordion-header">
          <h3 class="header">What payment methods do you accept?</h3>
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </div>
        <div class="accordion-content accordion-hover">
          <p>
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <div class="accordion-header">
          <h3 class="header">How can I contact you?</h3>
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </div>
        <div class="accordion-content accordion-hover">
          <p>
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <div class="accordion-header">
          <h3 class="header">Do you provide advice or support?</h3>
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </div>
        <div class="accordion-content accordion-hover">
          <p>
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <div class="accordion-header">
          <h3 class="header">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </div>
        <div class="accordion-content accordion-hover">
          <p>
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
