<section class="section">
  <div class="rewiev-container container">
    <h2 class="title-review" data-aos="fade">Reviews</h2>
    <div class="review-swiper swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
    </div>
    <div class="review-btn-container">
      <button class="left-btn">
        <svg class="menu-left-btn-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button class="right-btn">
        <svg class="menu-right-btn-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>