<section class="Section SectionReviews">
  <div class="container reviews-container">
    <h2 class="TitleText">REVIEWS</h2>

    <!-- Swiper -->
    <div class="reviews-swiper">
      <div id="reviewsList" class="swiper-wrapper">
        <!-- тут додані відгуки -->
      </div>
      <div class="ArrowNav">
        <div class="ButtonPrev">
          <svg class="SocialIconBack" width="32" height="32">
            <use href=""></use>
          </svg>
        </div>

        <div class="ButtonNext">
          <svg class="SocialIconNext" width="32" height="32">
            <use href=""></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>