<section id="contacts">
  <div class="work-together-container container section">
    <h2 class="together-title">
      let’s <span class="together-title-green">work together</span>
    </h2>

    <!-- Contacts -->

    <div class="contacts-and-form">
      <address class="together-contacts-container">
        <h3 class="together-contacts-title">
          Contact me to transform your ideas into exceptional solutions.
        </h3>
        <ul class="together-contacts-list">
          <li class="together-contacts-item">
            <svg class="together-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-tel"></use>
            </svg>

            <a class="together-contacts-link" href="tel:+38 090 456 78 90"
              >+38 090 456 78 90</a
            >
          </li>

          <li class="together-contacts-item">
            <svg class="together-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-email"></use>
            </svg>

            <a
              class="together-contacts-link"
              href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>

          <li class="together-contacts-item">
            <svg class="together-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-geo"></use>
            </svg>

            <a
              class="together-contacts-link"
              href="mailto:lloydjefferson@gmail.com"
              >USA, New York</a
            >
          </li>
        </ul>
      </address>

      <!-- Form -->
      <form class="together-form">
        <label class="position-together-error">
          <svg class="together-icon-ok" width="16" height="16">
            <use href="./img/icons.svg#icon-ep_success-filled"></use>
          </svg>
          <input
            class="together-email"
            type="email"
            name="email"
            placeholder="Your email*"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          />
          <p class="together-text-error">Invalid name, try again</p>
        </label>
        <label>
          <textarea class="together-text" placeholder="Message"></textarea>
        </label>
        <button class="together-button" type="submit">Sеnd Message</button>
      </form>
    </div>
  </div>
</section>
