<section id="work-together">
  <div class="work-together-container container section">
    <h2 class="together-title">
      let’s <span class="together-title-green">work together</span>
    </h2>

    <!-- Contacts -->

    <div class="contacts-and-form" id="contacts">
      <address class="together-contacts-container">
        <h3 class="together-contacts-title" data-aos="fade-down">
          Contact me to transform your ideas into exceptional solutions.
        </h3>
        <ul class="together-contacts-list">
          <li class="together-contacts-item" data-aos="fade-right">
            <svg class="together-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-tel"></use>
            </svg>

            <a class="together-contacts-link" href="tel:+38 090 456 78 90"
              >+38 090 456 78 90</a
            >
          </li>

          <li class="together-contacts-item" data-aos="fade-right">
            <svg class="together-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-email"></use>
            </svg>

            <a
              class="together-contacts-link"
              href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>

          <li class="together-contacts-item" data-aos="fade-right">
            <svg class="together-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-geo"></use>
            </svg>

            <a
              class="together-contacts-link"
              href="https://www.google.com/maps/place/Coney+Island+Beach/@40.5721397,-73.9794471,184m/data=!3m1!1e3!4m15!1m8!3m7!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!3b1!8m2!3d40.7127753!4d-74.0059728!16zL20vMDJfMjg2!3m5!1s0x89c24434a1186c45:0x2db95f871281b5b5!8m2!3d40.5721302!4d-73.9793298!16s%2Fg%2F1q5ccgdql?entry=ttu"
              target="_blank"
              >USA, New York</a
            >
          </li>
        </ul>
      </address>

      <!-- Form -->
      <form class="together-form">
        <label class="position-together-error" data-aos="fade-left">
          <svg class="together-icon-ok" width="16" height="16">
            <use href="./img/icons.svg#icon-ep_success-filled"></use>
          </svg>
          <input
            class="together-email"
            type="email"
            name="email"
            placeholder="Your email*"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          />
          <p class="together-text-error">Invalid name, try again</p>
        </label>
        <label data-aos="fade-left">
          <textarea class="together-text" placeholder="Message"></textarea>
        </label>
        <button class="together-button" type="submit" data-aos="fade-top">
          Sеnd Message
        </button>
      </form>
    </div>
  </div>
</section>
