.header-container {
  position: relative;
  max-width: 360px;
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-logo {
  font-family: Impact;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

.night-mode .header-logo {
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.logo-part {
  color: var(--Accet-green, #00b068);
  font-family: Impact;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

.header-navigation {
  display: flex;
  align-items: flex-end;
}

.navigation-list {
  display: none;
}

.navigation-list-item {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
  white-space: nowrap;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  margin-left: auto;
}
.menu-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  transition: stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.night-mode .menu-icon {
  fill: #f0f0f0;
}

.menu-icon:hover {
  stroke: #14c57c;
  fill: none;
}

.theme-switch {
  position: absolute;
  display: inline-block;
  width: 48px;
  height: 24px;
  align-items: center;
  left: 230px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e4e5e6;
  transition: background-color 0.3s;
  border-radius: 30px;
}

.night-mode .toggle-slider {
  box-shadow: none;
}

.toggle-slider .toggle-circle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  background-color: #14c57c;
  border-radius: 50%;
  transition: left 0.3s, background-color 0.3s;
}

#toggle-night-mode:checked + .toggle-slider {
  background-color: #2a2d32;
}

#toggle-night-mode:checked + .toggle-slider .toggle-circle {
  left: 27px;
}

#toggle-night-mode:checked + .toggle-slider .toggle-circle::before {
  display: block;
  text-align: center;
  line-height: 24px;
  font-size: 18px;
}

.elipse {
  position: absolute;
  width: 40px;
  height: 24px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

#toggle-night-mode:checked + .toggle-slider .elipse {
  background-color: #2a2d32;
}

.order-project {
  display: none;
}

@media screen and (max-width: 360px) {
  .theme-switch {
    left: 210px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
  }

  .header-logo {
    margin-right: 100px;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  #toggle-night-mode {
    margin-left: 0;
    margin-right: 16px;
  }

  .header-logo {
    font-size: 32px;
    line-height: 32px;
  }
  .logo-part {
    font-size: 32px;
    line-height: 32px;
  }

  .theme-switch {
    left: 342px;
  }

  .header-container {
  }

  .order-project {
    display: inline-block;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #14c57c;
    color: #f0f0f0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03125em;
    text-transform: uppercase;
    border-style: none;
    margin-left: 82px;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .order-project:hover {
    background: #009156;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
  }
  .header-logo {
    margin-right: 421px;
  }
  #toggle-night-mode {
    margin-left: 0;
    margin-right: 38px;
  }

  .theme-switch {
    left: 590px;
  }
  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .order-project {
    margin-left: 40px;
    white-space: nowrap;
  }

  .menu-btn {
    display: none;
  }

  .navigation-list-item:hover {
    color: #14c57c;
  }
}
