/* PHONE */

#footer {
  padding: 40px 0 24px 0;
}

.border-top {
  border-top: 1px solid var(--Light-grey, #E4E5E6);
}

.footer-title-container {
  margin-bottom: 40px;
}

.footer-title {
  color: var(--Black, #292929);
  font-family: Impact;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.046em;
  text-transform: uppercase;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.night-mode .footer-title {
  color: #F0F0F0;
}


.footer-title-color {
  color: var(--Accet-green, #00B068);
  font-family: Impact;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.046em;
  text-transform: uppercase;
}

.night-mode .footer-title-color {
  color: #14C57C;
}

.footer-media-list {
  /* margin-bottom: 40px; */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-media-link {
  color: var(--Black, #292929);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.031em;
  transition: color 0.3s ease;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.night-mode .footer-media-link {
  color: #F0F0F0;
}

.footer-media-link:hover,
.footer-media-link:focus {
  color: var(--Accet-green, #00B068);
}

.night-mode .footer-media-link:hover,
.footer-media-link:focus {
  color: #14C57C;
}

.footer-paragraph {
  color: var(--Black, #292929);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.031em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.night-mode .footer-paragraph {
  color: #F0F0F0;
}

.footer-title-container {
  gap: 32px;
  display: flex;
  flex-direction: column;
}

/* TABLET */

@media screen and (min-width:768px) {
  .footer-media-list {
    flex-direction: row;
    gap: 40px;
  }

  .footer-paragraph {
    flex-direction: row;
    justify-content: flex-end;
  }
}

/* Desktop */

@media screen and (min-width:1280px) {
  .footer-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }
}
