.mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  transition: opacity 1s ease;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
}

.mobile-padding {
  padding: 20px 20px 76px 20px;
  height: 100%;
  width: 100%;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mobile-title {
  color: #292929;
  font-family: Impact;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.night-mode .mobile-title {
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.mobile-title-color {
  color: #00b068;
  transition: color 0.3s ease;
}

.mobile-title-color:hover {
  color: #009156;
}

.mobile-modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.mobile-modal-svg {
  stroke: black;
  transition: stroke 0.3s ease;
}

.mobile-modal-svg:hover {
  stroke: #009156;
}

.mobile-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/11-modal-window/mobile-modal.png);
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 90px;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mobile-main {
    background-image: url(../img/11-modal-window/mobile-modal@2x.png);
  }
}

.mobile-menu {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.mobile-link {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  transition: color 0.3s ease;
}

.night-mode .mobile-link {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.mobile-link:active {
  text-shadow: none;
}

.mobile-link:hover {
  color: #009156;
}

.mobile-main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: #00b068;
  color: #f0f0f0;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.night-mode .mobile-main-btn {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.mobile-main-btn:active {
  box-shadow: none;
}

.mobile-main-btn:hover {
  background-color: #009156;
}

.mobile-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: #e4e5e6;
  width: 100%;
  height: 100%;
}
/* Night mode */

.night-mode .mobile-container {
  background-color: #1e2023;
}

.night-mode .mobile-modal-svg {
  stroke: #fff;
}

.night-mode .mobile-modal-svg:hover {
  stroke: #009156;
}

.night-mode .mobile-social {
  background-color: #2a2d32;
}

.night-mode .mobile-title {
  color: #f0f0f0;
}

.night-mode .mobile-title-color {
  color: #14c57c;
}

.night-mode .mobile-title-color:hover {
  color: #009156;
}

.night-mode .mobile-main-btn {
  background-color: #14c57c;
}

.night-mode .mobile-main-btn:hover {
  background-color: #009156;
}

@media screen and (min-width: 500px) {
  .mobile-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-main-btn {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-main {
    background-image: url(../img/11-modal-window/tablet-modal.png);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .mobile-main {
      background-image: url(../img/11-modal-window/tablet-modal@2x.png);
    }
  }

  .mobile-social {
    flex-direction: row;
    height: 104px;
  }

  .mobile-main-btn {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-container {
    display: none;
  }
}
