.hero-container {
  background-color: rgb(175, 32, 65);
  color: rgb(175, 193, 38);
  margin: 0 auto;
}

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
