* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

#hero {
  padding-top: 80px;
  width: 100%;
}

.hero-position {
  display: flex;
  flex-direction: column;
  background: url(../img/2-hero/hero-background-mobile.png),
    url(../img/2-hero/hero-background-mobile-2x.png) no-repeat;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  color: white;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 360px;
}

.hero-title {
  color: var(--Accet-green, #00b068);
  font-family: Impact;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.night-mode .hero-title {
  color: #14c57c;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.hero-title-color {
  color: var(--Black, #292929);
}

.night-mode .hero-title-color {
  color: #f0f0f0;
}

.hero-picture {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.hero-second-container {
  background: var(--Light-grey, #e4e5e6);
  overflow-x: hidden;
  margin: 0 auto;
}

.night-mode .hero-second-container {
  background: #2a2d32;
}

.hero-title-small {
  color: var(--Black, #292929);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.0277em;
  text-transform: uppercase;
  padding: 32px 0;
  max-width: 360px;
  margin: 0 auto;
}

.night-mode .hero-title-small {
  color: #f0f0f0;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.hero-paragraph-color {
  color: var(--Accet-green, #00b068);
}

.night-mode .hero-paragraph-color {
  color: #14c57c;
}

.hero-paragraph-color {
  color: var(--Accet-green, #00b068);
}

.night-mode .hero-paragraph-color {
  color: #14c57c;
}

.hero-media-list {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  max-width: 360px;
  margin: 0 auto;
}

.hero-media-link {
  color: var(--Black, #292929);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.0312em;
  transition: color 0.3s ease;
}

.night-mode .hero-media-link {
  color: #f0f0f0;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.hero-media-link:hover,
.hero-media-link:focus {
  color: var(--Accet-green, #00b068);
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 124px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.0145em;
    overflow: hidden;
  }

  .hero-picture {
    justify-content: flex-end;
    margin-top: -92px;
  }

  .hero-title-small {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.33;
    padding: 64px 0;
    max-width: 768px;
  }

  .hero-media-list {
    flex-direction: row;
    gap: 40px;
    padding: 40px 0;
    justify-content: center;
    max-width: 768px;
  }

  .hero-position {
    background: url(../img/2-hero/hero-background-tablet.png),
      url(../img/2-hero/hero-background-tablet-2x.png) no-repeat;
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    max-width: 768px;
  }

  .hero-position {
    background: url(../img/2-hero/hero-background-tablet.png),
      url(../img/2-hero/hero-background-tablet-2x.png) no-repeat;
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  #hero {
    padding-top: 16px;
  }

  .hero-second-container {
    flex-direction: row;
    overflow: hidden;
  }

  .hero-picture {
    width: 100%;
    margin-top: 0;
    align-items: flex-end;
  }

  .picture {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .hero-position {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
  }

  .hero-title {
    font-size: 136px;
    line-height: 1.147;
    padding-top: 176px;
    padding-bottom: 144px;
  }

  .hero-title-small {
    padding: 120px 104px;
    max-width: 1280px;
  }

  .hero-media-list {
    max-width: 1280px;
  }

  .hero-position {
    background: url(../img/2-hero/hero-background-desktop.png),
      url(../img/2-hero/hero-background-desktop-2x.png) no-repeat;
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
  }
}
