.my-projects-container {
max-width: 360px;
}
  

.my-projects-title {
  font-family: Impact;
  text-align: center;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
}

.night-mode .my-projects-title {
text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}


.my-projects-title span {
  color: #00a86b;
}

.project-image {
  border-radius: 16px;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.project-technologies {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  margin-top: 12px;
}

.project-title {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 12px;
  max-width: 320px;
}

#project-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.project-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.project-btn {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: #E4E5E6;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  border-radius: 8px;
  float: right;
  border: none;
  gap: 12px;
  transition: background-color 200ms ease-in-out;
}

.project-btn:hover {
  background-color: #BBB;
}

.arrow-up-right {
  stroke: #00B068;
  transition: transform 200ms ease-in-out;
}

.night-mode .project-btn {
  background-color: #2A2D32;
  color: #F0F0F0;
}

.night-mode .project-btn:hover {
  background-color: #3B3F45;
  color: #F0F0F0;
}

#load-more {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  color: #292929;
  border: none;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 40px;
  transition: all 400ms ease-in-out;
}

#load-more:hover {
  color: #00B068;
}

.night-mode #load-more {
  background: #1E2023;
  color: #F0F0F0;
}

.night-mode #load-more:hover {
  color: #00B068;
}

.arrow-load-more {
  height: 0px;
  width: 100%;
  border-top: 2px solid #00B068;
  transform: translateY(-50%) rotate(0deg);
}

/* Style Load More */

@keyframes dots {
  0% {
    content: '.';
  }

  33% {
    content: '..';
  }

  66% {
    content: '...';
  }

  100% {
    content: '';
  }
}

#load-more.loading::after {
  content: '';
  display: inline-block;
  animation: dots 1s steps(3, end) infinite;
  margin-left: 10px;
}



@media screen and (min-width: 360px) {}



/* Tablet */

@media screen and (min-width: 768px) {
.my-projects-container {
  max-width: 768px;
}

#project-list {
  gap: 60px;
}

  .my-projects-title {
    font-size: 108px;
    line-height: 1.14;
  }

  .project-title {
    font-size: 36px;
    line-height: 1.33;
    margin-bottom: 0;
    max-width: 800px;
  }

    .project-image {
    }

  .project-technologies {
    margin-bottom: 16px;
    margin-top: 20px;
  }

  .project-title-btn {
    display: flex;
    justify-content: space-between;
  }

  #load-more {
    font-size: 20px;
    line-height: 1.6;
    margin-top: 72px;
  }
}


/* Desktop */

@media screen and (min-width: 1280px) {
.my-projects-container {
  max-width: 1280px;
  padding-left: 104px;
  padding-right: 104px;
}

#project-list {
  gap: 80px;
}

  .my-projects-title {
    font-size: 108px;
    line-height: 1.14;
  }

    .project-image {
      min-width: 1008px;
      height: 578px;
    }

  .project-title {
    font-size: 36px;
    line-height: 1.33;
  }

  .project-title-btn {
    display: flex;
    justify-content: space-between;
  }


#load-more {
  margin-top: 92px;
}

}