.faq-container {
  max-width: 360px;
}

.question-button-container {
  display: flex;
  gap: 16px;
  cursor: pointer;
}
.faq-title {
  width: 320px;
  font-family: Impact;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.coloured {
  color: #00b068;
  text-transform: uppercase;
}

.question {
  display: flex;
  flex-direction: column;
  padding: 28px 24px;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  gap: 24px;
  border-bottom: 1px solid #ccc;
}

.active {
  justify-content: center;
  align-items: flex-end;
  border-radius: 16px;
  background: rgba(0, 176, 104, 0.2);
}
.question-title {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  flex: 1 0 0;
}
.question-answer {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  align-self: stretch;
}

.faq-item-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  gap: 10px;
  padding: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.arrow-icon {
  fill: transparent;
  stroke: #292929;
  position: absolute;
  transition: transform 0.3s ease;
}

.up {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.down {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

@media screen and (min-width: 768px) {
  .faq-container {
    max-width: 768px;
  }
  .faq-title {
    width: 592px;
    font-size: 108px;
    line-height: 124px;
    margin-bottom: 60px;
  }
  .coloured {
    color: #00b068;
    text-transform: uppercase;
  }

  .question {
    width: 704px;
  }

  .question-button-container {
    gap: 24px;
  }
  .question-title {
    width: 600px;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1280px) {
  .faq-container {
    display: flex;
    gap: 104px;
    max-width: 1280px;
  }

  .frequently-asked-questions {
    margin-top: 276px;
  }

  .faq-title {
    width: 520px;
    font-size: 108px;
    line-height: 124px;
    margin-bottom: 60px;
  }
  .coloured {
    color: #00b068;
    text-transform: uppercase;
  }

  .question {
    width: 592px;
  }

  .question-title {
    width: 488px;
  }

  .faq-container {
    background-image: url(../img/7-faq/faq-background-1x.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .faq-container {
      background-image: url(../img/7-faq/faq-background-2x.png);
      background-position: left bottom;
      background-repeat: no-repeat;
    }
  }
}
