.faq-container {
  max-width: 360px;
}

.section-title {
  width: 320px;
  font-family: Impact;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.coloured {
  color: #00b068;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.accordion-item {
  display: flex;
  padding: 28px 24px;
  justify-content: flex-end;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
  border-radius: 16px;
  background-color: rgba(0, 176, 104, 0.2);
}

.accordion-header {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.header {
  width: 224px;
  color: var(--Black, #292929);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.arrow-icon {
  fill: transparent;
  stroke: #292929;
  transition: transform 0.7s ease;
}

.accordion-item.active .arrow-icon {
  transform: rotate(180deg);
}

.accordion-content {
  color: var(--Black, #292929);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.accordion-hover {
  display: none;
}

@media screen and (min-width: 768px) {
  .faq-container {
    max-width: 768px;
  }

  .section-title {
    width: 592px;
    font-size: 108px;
    line-height: 124px;
    margin-bottom: 60px;
  }

  .accordion-item {
    width: 704px;
  }

  .accordion-header {
    gap: 24px;
  }

  .header {
    width: 600px;
  }
}

@media screen and (min-width: 1280px) {
  .faq-container {
    display: flex;
    gap: 104px;
    max-width: 1280px;
    background-image: url(../img/7-faq/faq-background-1x.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .accordion-container {
    margin-top: 276px;
  }

  .section-title {
    width: 520px;
    font-size: 108px;
    line-height: 124px;
    margin-bottom: 60px;
  }

  .accordion-item {
    width: 592px;
  }

  .header {
    width: 488px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .faq-container {
      background-image: url(../img/7-faq/faq-background-2x.png);
      background-position: left bottom;
      background-repeat: no-repeat;
    }
  }
}
