.rewiev-container {
  max-width: 360px;
}

.title-review {
  font-family: Impact;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0.0346em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.swiper-slide {
}

.reviews-photo {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat, #797979;
}

.reviews-item {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  border-radius: 16px;
  background: var(--Light-grey, #e4e5e6);
  min-height: 296px;
}

.author-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.reviews-list {
}

.author-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.03125em;
}

.author-review {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03125em;
  margin-bottom: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.review-btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.buttons {
}

.left-btn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(41, 41, 41, 0.3);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.right-btn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(41, 41, 41, 0.3);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rewiev-space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-swiper {
  margin-bottom: 24px;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.menu-left-btn-icon {
  fill: transparent;
  stroke: black;
}

.menu-right-btn-icon {
  fill: transparent;
  stroke: black;
}

.left-btn:hover {
  background-color: var(--Light-grey, #e4e5e6);
}
.right-btn:hover {
  background-color: var(--Light-grey, #e4e5e6);
}

.night-mode .left-btn {
  background-color: transparent;
  border: 1px solid #2a2d32;
}
.night-mode .right-btn {
  background-color: transparent;
  border: 1px solid #2a2d32;
}

.night-mode .left-btn:hover {
  background-color: #3b3f45;
}

.night-mode .right-btn:hover {
  background-color: #3b3f45;
}
.night-mode .menu-left-btn-icon {
  stroke: #f0f0f0;
}
.night-mode .menu-right-btn-icon {
  stroke: #f0f0f0;
}
.night-mode .reviews-item {
  background: #2a2d32;
}

.night-mode .title-review {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 768px) {
  .rewiev-container {
    max-width: 704px;
  }
  .reviews-item {
    min-height: 224px;
  }

  .title-review {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.0166em;
    margin-bottom: 60px;
  }

  .author-review {
    -webkit-line-clamp: 4;
  }
}

@media screen and (min-width: 1280px) {
  .rewiev-container {
    max-width: 1280px;
  }

  ..title-review {
    margin-bottom: 80px;
  }
}
