.header {
  margin: 0 auto;
}

.header-container {
  background-color: rgb(27, 79, 55);
  color: rgb(0, 21, 255);
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 375px) {
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: 1280px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    width: 1440px;
  }
}
