.hero-container {
  background-color: rgb(175, 32, 65);
  color: rgb(175, 193, 38);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero-container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    width: 1280px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    width: 1440px;
  }
}
